/* color */
$white: #fff;
$white-50: rgba(255, 255, 255, 0.50);
$black: #000;
$black-30: rgba(0, 0, 0, 0.30);
$black-50: rgba(0, 0, 0, 0.50);
$gray-10: #F8F8F8;
$gray-20: #F0F0F0;
$gray-30: #E8E8E8;
$gray-3070: rgba(221, 221, 221, 0.70);

$main: #3A487F;
$base: #7A95B4;
$accent: #39477F;

$gray-40: #CCCCCC;
$gray-50: #BBBBBB;
$gray-60: #AAAAAA;
$gray-70: #999999;
$gray-80: #777777;
$gray-8070: rgba(119, 119, 119, 0.70);
$gray-90: #555555;
$gray-100: #222222;

$blue-10: #f4f7fc;
$blue-20: #f0f7ff;
$blue-30: #e6f7ff;
$blue-40: #1ea2ed;
$blue-50: #3968de;
$blue-5050: rgba(57, 104, 222, 0.50);
$blue-60: #3758b9;
$blue-70: #2C4E99;
$blue-80: #1d3364;
$blue-8050: rgba(29, 51, 100, 0.50);
$blue-90: #0F2045;

$orange-10: #FFF3F0;
$orange-20: #FA4718;

$red-10: #FDCCCC;
$red-20: #F50000;
$red-30: #BA0000;
$red-40: #9D0000;

$border-width: 1px;
/* text */
$text-h1-500: 500 40px/150% 'Noto Sans KR';
$text-h1-400: 400 40px/150% 'Noto Sans KR';
$text-h2-500: 500 34px/150% 'Noto Sans KR';
$text-h2-400: 400 34px/150% 'Noto Sans KR';
$text-h3-500: 500 30px/150% 'Noto Sans KR';
$text-h3-400: 400 30px/150% 'Noto Sans KR';
$text-h4-500: 500 26px/150% 'Noto Sans KR';
$text-h4-400: 400 26px/150% 'Noto Sans KR';
$text-h5-500: 500 22px/150% 'Noto Sans KR';
$text-h5-400: 400 22px/150% 'Noto Sans KR';
$text-p20-500: 500 20px/150% 'Noto Sans KR';
$text-p20-400: 400 20px/150% 'Noto Sans KR';
$text-p18-500: 500 18px/150% 'Noto Sans KR';
$text-p18-400: 400 18px/150% 'Noto Sans KR';
$text-p16-500: 500 16px/150% 'Noto Sans KR';
$text-p16-400: 400 16px/150% 'Noto Sans KR';
$text-p15-500: 500 15px/150% 'Noto Sans KR';
$text-p15-400: 400 15px/150% 'Noto Sans KR';
$text-p15-500: 500 15px/150% 'Noto Sans KR';
$text-p15-400: 400 15px/150% 'Noto Sans KR';
$text-body14-500: 500 14px/150% 'Noto Sans KR';
$text-body14-400: 400 14px/150% 'Noto Sans KR';
$text-body13-500: 500 13px/150% 'Noto Sans KR';
$text-body13-400: 400 13px/150% 'Noto Sans KR';
$text-body12-500: 500 12px/150% 'Noto Sans KR';
$text-body12-400: 400 12px/150% 'Noto Sans KR';
$text-body11-500: 500 11px/150% 'Noto Sans KR';
$text-body11-400: 400 11px/150% 'Noto Sans KR';
$text-caption-500: 500 10px/150% 'Noto Sans KR';
$text-caption-400: 400 10px/150% 'Noto Sans KR';
$text-tiny1-500: 500 9px/150% 'Noto Sans KR';
$text-tiny1-400: 400 9px/150% 'Noto Sans KR';
$text-tiny2-500: 500 8px/150% 'Noto Sans KR';
$text-tiny2-400: 400 8px/150% 'Noto Sans KR'; /* icon */
