@use '../global' as *;

/* 알럿 */
.alert_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: $black-50;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  z-index: 13000;


  .alert_container {
    max-width: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }

  .alert_body {
    position: relative;
    width: 100%;
    height: auto;
    background-color: $white;
    padding: 60px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    .alert_text {
      text-align: center;

      .alert_phrases {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 5px;
        justify-content: center;
        font: $text-p16-400;

      }

      .icon_alert {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;

        i {
          margin: 0 auto;
        }
      }

      //
      //.success {
      //  span{
      //  &:before {
      //    flex: 0 0 24px;
      //    @include combIcon(24px, $icon-chk);
      //    display: inline-block;
      //    vertical-align:-8px;
      //    margin-right: 8px;
      //  }
      //  }
      //}
      //
      //.error {
      //
      //  .error_tit {
      //    width: 100%;
      //    display: flex;
      //    align-items: center;
      //    justify-content: center;
      //    gap: 5px;
      //    font: $button-1;
      //
      //    & + span {
      //      font: $subTitle-7;
      //    }
      //
      //    &:before {
      //      flex: 0 0 24px;
      //      @include combIcon(24px, $icon-white-warn)
      //    }
      //  }
      //
      //  .error_para {
      //    font: $subTitle-7;
      //
      //    &.error_icon {
      //
      //
      //      &:before {
      //
      //        @include combIcon(20px, $icon-white-warn);
      //        display: inline-block;
      //        vertical-align: -5px;
      //        margin-right: 8px;
      //      }
      //    }
      //  }
      //}
    }
  }

  .alert_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    button {
      flex: 0 0 50%
    }
  }
}

.alert_btp_popup {
  .alert_footer {
    display: none;
  }

  .alert_body .alert_text .alert_phrases {
    flex-wrap: nowrap;
    gap: 0;
    font-size: 13px;
  }
}

///* 풀 레이어 팝업    */
.default_popup {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.lg {
    .modal_content {
      max-width: 1284px;
      width: 100%;
    }
  }

  &.event_detail_popup {
    .modal_body {
      padding: 60px 16px 40px !important;
    }

    .modal_wrap {
      //max-height: 100%;
    }

    .modal_foot {
      display: none;
    }
  }

  .modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    max-width: 700px;
    width: 100%;

    background-color: white;

  }

  .modal_wrap {
    max-height: calc(100vh - 160px);
    overflow: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }


  .modal_header {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
  }

  .modal_body {

    padding: 60px 40px 112px;

    .modal_inner {
      //max-height: 760px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 16px;

    }

    .modal_title {
      padding: 8px 0;
      font: $text-h5-700;
    }
  }

  .modal_foot {
    display: flex;
    align-items: center;
    gap: 8px;
    position: fixed;
    left: 50%;
    bottom: 0;
    background-color: white;
    padding: 24px 40px 40px;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
  }


}

.dimmed {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.50);
  z-index: 101;
}


/*----------------------------- 반응형 ----------------------------*/

@include xs-tablet {
  .alert_popup {
    top: 0;
    left: 0;
    transform: initial;
  }
  .default_popup {
    top: 0;
    left: 0;
    transform: initial;

    .modal_content {
      z-index: 10000;
      max-width: 100%;
      height: 100%;
      width: 100%;
      min-width: auto;
    }

    .modal_wrap {
      max-height: 100%;
    }

    .modal_body {
      padding: 60px 16px 72px;

      .modal_inner {

      }

      .modal_title {
        padding: 8px 4px;
      }
    }

    .modal_foot {
      padding: 12px 16px;
      background-color: $white;
      width: 100%;
      bottom: 0;
    }
  }
}