@use '../global' as *;

section {
  overflow: initial;
}

.overview_section {

  max-width: 992px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;

  .text_con {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .img_con {

    height: 100%;

    img {

    }
  }

  article {
    display: flex;
    align-items: center;

    .title {
      color: $black;
      font: $text-h4-400;
    }

    .paragraph {
      font: $text-body14-400;
      color: $gray-80;
    }


  }

  .article1 {
    gap: 24px;
    flex-direction: column;


    .title {
      max-width: 315px;
    }

    .paragraph {
      max-width: 424px;
    }

    .content {
      display: flex;

      align-items: stretch;
      gap: 30px;
      width: 100%;
    }

    .top_con {
      gap: 97px;
      flex-wrap: wrap;
    }

    .bottom_con {

    }
  }


  .article2 {
    gap: 80px;

    .img_con {
      max-width: 558px;
      width: 100%;
    }

    .text_con {
      max-width: 354px;
      text-align: right;
    }
  }

  .article3 {
    gap: 93px;

    .img_con {
      max-width: 558px;
      width: 100%;
    }

    .text_con {
      max-width: 340px;
    }
  }


  .article4 {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    .text_con {
      max-width: 601px;
    }
  }
}


/* 기업 연력 */
.timeline_section {
  max-width: 715px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .time_item {

    display: flex;
    align-items: stretch;
    gap: 48px;

    &:last-of-type {

      .line {
        &:after {
          display: none;
        }
      }
    }
  }

  .line {
    width: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    &:before {
      content: '';
      width: 12px;
      flex: 0 0 12px;
      height: 12px;
      border-radius: 50%;
      display: block;
      background-color: $black;
      margin: 4px;
    }

    &:after {
      content: '';
      width: 1px;
      height: 100%;
      display: block;
      background-color: $black;
    }
  }

  .time_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 48px;
  }

  .text_box {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
      font: $text-p20-500;
    }

    p {
      font: $text-body14-400;
    }
  }
}

.branch_section {
  display: flex;
  flex-direction: column;
  gap: 64px;

  &:deep {
    .square_tab {
      margin: 0 auto;
      max-width: 716px;
      width: 100%;
    }
  }

  .branch_info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .branch_detail {

    border-radius: 8px;
    border: 1px solid $gray-30;
    padding: 40px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;

    .detail_item {
      width: 50%;
      flex: 1 0 360px;

      &.thumbs {
        display: flex;
        flex-direction: column;
      }

      &.text {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
  }

  .title_box {
    display: flex;
    flex-direction: column;
    gap: 6px;

    h6 {
      font: $text-h4-400;
    }

    span {
      font: $text-p16-400;
      color: $gray-80
    }
  }

  .branch_slide {


    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      aspect-ratio: 277/159;
    }
  }

  .info_list {
    display: flex;
    gap: 12px;
    flex-direction: column;

    li {
      display: flex;
      gap: 8px;
      font: $text-body14-400;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 8px;


      span {
        font: $text-body12-400;
        color: $gray-70;
      }
    }

    $info-icon: (
            msg:$icon-black-msg,
            fax:$icon-black-fax,
            phone:$icon-black-phone,
            location:$icon-black-location,
            clock:$icon-black-clock,
    );

    @each $info, $icon in $info-icon {
      .#{$info}_icon {
        margin-top: 3px;
        flex: 0 0 14px;
        @include imgIcon(14px, #{$icon});
      }
    }
  }

  .thumbnail {
    margin-top: 24px;

    &:deep {
      .swiper-wrapper {

      }
    }

    .swiper-slide {
      max-width: 115px;

      img {
        aspect-ratio: 115 / 66;
      }

      &:not(.swiper-slide-thumb-active) {
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          background-color: $white-50;
        }
      }
    }
  }


  .location_info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h6 {
      font: $text-p18-400;
    }
  }
}

.guide_section {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;

  .video_box {
    position: relative;
    padding-top: 49.3%;
    width: 100%;
    height: 0;

    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
  }

  .guide_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;


    li {
      display: flex;
      align-items: center;

      &:not(.arrow) {
        max-width: 264px;
        width: 100%;
      }


      $guide-icon: (
              search:$icon-black-search,
              shopping:$icon-black-shopping,
              contract:$icon-black-contract,
              daytime:$icon-black-daytime,
              reservation:$icon-black-reservation,
              complete:$icon-black-center
      );

      @each $guide, $icon in $guide-icon {
        .#{$guide}_icon {

          flex: 0 0 32px;
          @include imgIcon(32px, #{$icon});
        }
      }


    }

    .pc_hide {
      display: none !important;
    }

    .arrow {
      flex: 0 0 20px;
      align-self: center;
      @include imgIcon(20px, $icon-g50-arrow);
    }

    .guide_inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 41px;
      align-items: center;

      min-height: 170px;
      text-align: center;

      p {
        text-align: center;
        font: $text-body13-400;
        color: $gray-90;
      }
    }

  }
}

.information_section {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;

  .apply_guide {
    margin-bottom: 48px;;

    h4 {
      font: $text-p18-400;
      padding-bottom: 16px;
    }
  }

  .info_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    .border_box {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      $info-icon: (
              select:$icon-black-select,
              screen:$icon-black-screen,
              camera:$icon-black-camera,
              home:$icon-black-home,
      );

      @each $info, $icon in $info-icon {
        .#{$info}_icon {

          flex: 0 0 24px;
          @include imgIcon(24px, #{$icon});
        }
      }
    }

    .step {
      color: $blue-50;
      font: $text-body12-500;
    }

    .text_con {
      h5 {
        margin: 16px 0 8px 0;
        font: $text-p18-500;
      }

      p {
        font: $text-body14-400;
        color: $gray-80;
      }
    }
  }

  .info_ctg {
    margin-bottom: 56px;

    &:last-of-type {
      margin-bottom: 0;
    }


    .title {
      font: $text-p20-500;
      margin-bottom: 16px;
    }

    .dash_list {
      padding-top: 0;
    }

    .sub_info {
      padding-top: 8px;
    }
  }

}


.term_text {
  font: $text-body13-400;
  color: $gray-100;
}


.benefit_section {
  max-width: 1204px;

  .apply_guide {
    margin-bottom: 40px;
  }

  .info_list {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 38px;

    .grade_name {
      padding: 16px 10px;
      text-align: center;
      font: $text-p18-400;
      border-bottom: 1px solid $gray-30;
    }

    .border_box {
      gap: 16px;
      position: relative;

      .grade_icon {
        padding: 0 8px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        font: $text-body14-400;
        color: $white;
      }

      $info-icon: (
              cinematographer:$icon-benefit-cinematographer,
              producer:$icon-benefit-producer,
              student:$icon-benefit-student,
      );

      @each $info, $icon in $info-icon {
        .#{$info}_icon {
          &:after {
            flex: 0 0 60px;
            @include combIcon(60px, #{$icon});

          }


        }
      }

      .vip_icon {
        &:after {
          content: 'VIP';
          border-radius: 50em;
          background: #753CAB;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .normal_icon {
        &:after {
          content: '일반';
          border-radius: 50em;
          background: #3968DE;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .vip_icon {
        &:after {
          content: 'VIP';
          border-radius: 50em;
          background: #753CAB;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .vvip_icon {
        &:after {
          content: 'VVIP';
          border-radius: 50em;
          background: #754E27;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .text_con {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;;

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font: $text-body12-500;
      }

      .percent {
        font: $text-h1-400;
      }

      p {
        font: $text-body12-400;
      }
    }
  }

  .default_info {
    max-width: 162px;
  }

  .vvip_info {
    max-width: 148px;
  }

  .cinematographer_info {
    max-width: 227px;

    p:last-child {
      padding-right: 28px;
    }
  }

  .producer_info {
    max-width: 224px;

    p:last-child {
      padding-right: 27px;
    }
  }

}

/*----------------------------- 반응형 ----------------------------*/
@include tablet {
  .overview_section {
    gap: 64px;

    article {
      .title {
        font: $text-p20-400
      }
    }

    .article1 {
      .title {
        max-width: 100%;
      }

      .content {
        gap: 10px;
      }

      .top_con {

        gap: 16px;
        flex-direction: column;
      }
    }

    .article {
      &2, &3 {
        gap: 24px;

      }
    }
  }
  .branch_section {
    .branch_detail {
      gap: 24px;
      padding: 16px;
    }
  }
}

@include sm-tablet {
  .guide_section {
    gap: 40px;

    .guide_list {
      justify-content: center;
      row-gap: 14px;

      .pc_hide {
        display: block !important;
      }

      .arrow {
        rotate: 90deg;
      }

      li {
        &:not(.arrow) {
          max-width: 100%;
        }
      }

    }
  }
  .information_section {
    .info_list {
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }
  }
  .benefit_section {
    .info_list {
      grid-template-columns: repeat(1, 1fr);
      gap: 46px;
      margin-top: 46px;
    }
  }
}

@include xs-tablet {
  .overview_section {
    .text_con {

      padding-right: 30px;
    }

    .article {
      flex-wrap: wrap;

      &2, &3 {
        flex-wrap: wrap;


        .img_con {
          max-width: 100%;

          img {
            width: 100%;
          }
        }

        .text_con {
          max-width: 100%;

        }

      }

    }

    .article2 {
      justify-content: flex-end;

      .text_con {
        order: 1;
        padding-right: 0;
      }

      .img_con {
        order: 2;

      }
    }

    .article3, .article4 {


    }
  }

  .timeline_section {
    .time_item {
      img {
        padding-right: 16px;
      }

      gap: 8px;
    }

    .text_box {
      h4 {
        font: $text-p16-500;
      }
    }
  }

  .branch_section {
    .branch_detail {


      .detail_item {
        flex: 100%;

        &.text {
          padding: 0;
        }
      }
    }

    .title_box {
      h6 {
        font: $text-h5-400;
      }

      span {
        font: $text-body14-400;
      }
    }

    .branch_slide {
      aspect-ratio: 148/ 85;
    }

    .thumbnail {
      margin-top: 8px;

      &:deep {
        .swiper-wrapper {

        }
      }

      .swiper-slide {
        max-width: 66px;


        img {
          aspect-ratio: 17/ 10
        }

        &:not(.swiper-slide-thumb-active) {
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            background-color: $white-50;
          }
        }
      }
    }
  }

  .information_section {


    .apply_guide {
      margin-bottom: 40px;

      h4 {
        font: $text-p16-400;;
      }
    }


    .info_ctg {
      &:not(.terms .info_ctg) {
        margin-bottom: 40px;
      }
    }

    .info_list {
      .border_box {
        padding: 16px;
      }

      .step {
        font: $text-caption-500;
      }

      .text_con {
        h5 {
          font: $text-body14-500
        }

        p {
          font: $text-body12-400
        }
      }
    }

  }


  .benefit_section {


    .info {
      max-width: 176px;
      width: 100%;

      p:last-child {
        padding: 0 !important;
      }


    }

    .info_list {


      .border_box {
        padding: 24px 16px;
      }

      .text_con {
        gap: 8px;

        p {
          white-space: pre-wrap;
        }
      }
    }
  }
}