@use '../global' as *;
/* community 페이지 css 모음 */


/* 게시판 리스트 */

.submit_box {
  margin-top: 32px;

  .default_btn {
    margin-left: auto;
    flex: 0 1 122px;
  }
}

.list_box {

  margin-top: 40px;

  .default_btn {
    flex: 0 1 228px;
  }
}

.board_line {
  @include groupLine(1px, 10px, $gray-30, 4px)
}

.board {
  &_container {
    &:deep {
      .round_tab {
        margin-bottom: 32px
      }
    }

    .default_info_table {
      .info_detail {
        padding: 16px 40px;
      }
    }
  }


  &_list {
    border-top: 2px solid $black;

    &.faq {
      .board_item {
        transition: all 0.3s;
        overflow: hidden;
        flex-wrap: wrap;

        align-items: flex-start;
      }

      .summary_content {
        width: 100%;
      }

      .question_mark {
        flex-basis: 80px;
      }

      .summary_content {
        margin-left: 184px;
        padding: 0 24px 24px 24px;
        color: $gray-70;
        font: $text-body13-400;
      }

      .title {
        padding: 17.5px 0;
        display: flex;
        align-items: center;

        .text_title {
          padding: 0 24px;
          max-width: calc(100% - 184px);
        }
      }
    }
  }

  &_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid $gray-30;

    .board_ctg {
      color: $gray-70;
      font: $text-body13-400;
      flex-basis: 104px;
    }

    .title {

      padding: 0 24px;
      flex: 1;
      font: $text-body14-400;

      .badge {
        margin-right: 6px;
      }
    }

    .last_block {
      flex-basis: 160px;

      text-align: center;
    }

    .date {
      text-align: center;
      color: $gray-70;
      font: $text-body12-400;
    }

    .post_num {
      text-align: center;
      font: $text-body14-400;
      color: $black;
      flex: 0 0 120px

    }
  }

}

/* 게시판 리스트 :: 1:1 문의 , 커스터마이징 */
.form_board {
  .board_item {
    height: auto;
    padding: 16px;
    gap: 32px;
  }

  .board_box {
    flex: 1;
    width: calc(100% - 83px)
  }

  .title {
    padding: 0;
  }


}

/* 게시판 리스트 :: 이벤트 */
.event {
  &_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
  }

  &_item {
    border: 1px solid $gray-20;
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding: 40px 32px;
    width: calc(100% / 2 - 8px);
  }

  &_img {
    aspect-ratio: 19/28;
    width: 100%;
    flex: 0 0 209px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &_info {
    .title {
      font: $text-p20-400;
      margin-bottom: 24px;
    }

    .date {
      b {
        display: block;
        font: $text-body12-500;
      }

      span {
        font: $text-body14-400;
      }
    }

    .detail {
      margin: 32px 0 24px;;
      font: $text-body14-400;
      color: $gray-90
    }
  }
}


/* 게시판 리스트 :: 제작지원 */
.support {
  &_list {
    row-gap: 24px;
  }

  &_item {
    cursor: pointer;

    img {
      aspect-ratio: 19/28;
    }
  }

  &_info {
    padding: 16px 0;
    display: flex;
    flex-direction: column;

    .date {
      color: $gray-90;
      font: $text-body12-400;
    }

    .title {
      padding: 6px 0 4px;
    }

    .detail {
      color: $gray-100;
      font: $text-body12-400;
    }
  }
}

.support_header {
  border-radius: 8px;
  margin-bottom: 48px;
  padding: 16px 0;
  border: 1px solid $gray-30;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .info_item {
    flex: 1;
    border-right: 1px solid $gray-30;
    padding: 0 10px;
    min-height: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

    &:last-child {
      border: none;
    }


  }

  .apply_box {
    display: flex;
    align-items: center;
    gap: 16px;
    color: $blue-50;

    a, button {
      font: $text-p16-400;
    }

    i {
      display: block;
      width: 1px;
      height: 14px;
      background-color: $gray-70;
    }
  }

  span {
    font: $text-p18-400
  }

  .sm_txt {
    font: $text-body14-400;
  }

  .amount_txt {
    font: $text-h4-400;
  }

  .apply_count {
    font: $text-h3-400;
  }

  .lg_txt {
    font: $text-h1-400;
  }
}

/* 게시판 상세 */
.board_detail {
  .board_contents {
    padding: 16px;
    border-bottom: 1px solid $gray-30;
    font: $text-body13-400;
  }

  .board_bottom {
    padding: 16px 24px;
    border-bottom: 1px solid $gray-30;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .file_item {
      text-align: left;
      color: $gray-90;
      font: $text-body12-400;
    }


  }

  .board_answer {
    padding: 16px 16px 32px;
    background-color: $gray-10;
    border-bottom: 1px solid $gray-30;
    font: $text-body13-400
  }

  .edit_box {

    justify-content: flex-end;
    margin-top: 16px;

    button {
      flex: 0 0 75px;
    }
  }
}


/* 게시판 작성 */
.file_form {


  .info_detail {
    gap: 12px;
  }


}


@include tablet {
  .event {
    &_list {
      align-items: flex-start;
      flex-direction: column;
    }

    &_item {
      width: 100%;
    }

    &_info {
      .date {
        span {
          font: $text-body12-400;
        }
      }

      .title {
        font: $text-p16-400;
        margin-bottom: 12px;
      }

      .detail {
        font: $text-body12-400;
        margin: 16px 0 12px;
      }
    }

    &_img {
      flex: 1 0 78px;
      max-width: 209px;
    }

    &_info {
      flex: 1 1 204px;
    }
  }

}

@include tablet {
  .inner {
    .flex-16 {
      gap: 8px;
    }
  }
  .list_box {
    margin-top: 24px;

    .default_btn {
      flex: 0 1 112px;
    }
  }
  .board {
    &_item {

      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 16px 0;
      row-gap: 4px;


      .title {
        padding: 0;
        width: 100%;
      }

      .date {
        flex: 1;
        text-align: left;
      }
    }

    &_list {

      &.faq {
        .board_item {
          flex-direction: row;
          padding: 0;
        }

        .board_ctg, .question_mark {
          flex-basis: auto;
        }

        .title {
          flex-wrap: wrap;
          padding: 16px 0;
          flex: initial;
          row-gap: 6px;
          column-gap: 4px;

          .text_title {
            max-width: 100%;
            width: 100%;
            padding: 0;
          }
        }

        .question_mark {
          width: 16px;
          height: 16px;
        }

        .summary_content {
          margin-left: 0;
          padding: 0 0 24px 0;
        }
      }
    }
  }
  .form_board {
    .board_item {
      padding: 16px 0;
      gap: 8px;
    }

    .board_box {
      order: 2;
      width: 100%;
    }

    .board_status {
      order: 1;
    }
  }
  .support {
    &_list {
      row-gap: 16px;
    }

    &_info {
      padding: 6px 0;

      .date {
        font: $text-caption-400;
      }

      .title {
        font: $text-body12-400;
        padding: 4px 0 2px;
      }

      .detail {
        font: $text-caption-400;
      }
    }
  }
  .support_header {
    padding: 0 16px;

    .info_item {
      min-height: 195px;
      flex: 100%;
      gap: 16px;
      border-right: 0;
      border-bottom: 1px solid $gray-30;

      .info {
        gap: 2px;
      }
    }


    .apply_box {
      gap: 14px;

      a, button {
        font: $text-body14-400;
      }
    }

    .lg_txt {
      font: $text-h2-400;
    }


    .sm_txt {
      font: $text-body12-400;
    }

    .apply_count {
      font: $text-h4-400;
    }

    .md_txt {
      font: $text-p18-400;
    }

    span {

      font: $text-body14-400;
    }
  }

  .board_detail {
    .board_item {
      padding: 16px;
    }

    .board_bottom {
      padding: 16px;
    }

    .board_list {
      pointer-events: none;
    }
  }
}

// 768px;
@include xs-tablet {

}