@use '../global' as *;

.main_visual_swiper {
  img {
    aspect-ratio: 80/21;
    min-height: 360px;
    width: 100%;
  }
}

.main_sub_swiper {
  img {
    aspect-ratio: 160/23;
    min-height: 180px;
    width: 100%;
  }
}

.main_prod_list {
  padding-top: 64px;
  padding-bottom: 64px;


  &.credit {
    background-color: $blue-10;


  }
}


@include tablet {
  .option_prod {
    padding-bottom: 24px;
  }
  .main_prod_list {
    padding-top: 40px;
    padding-bottom: 40px;

    &.credit {

    }
  }
}

@include xs-tablet {
  .main_prod_list {
    &.credit {

    }
  }
}