@use '../global' as *;

section {
  display: flex;
  align-items: center;

  .inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
  }

  &:deep {
    .section_title {
      align-self: flex-start;
    }
  }

  .content_wrap {
    width: calc(100% - 200px);
  }
}

.info_para {
  color: $gray-100;

  .info_title {
    font: $text-h5-700;
  }

  .info_sub_tit {
    font: $text-p18-500;
  }

  .info_desc {
    font: $text-p16-500;
    padding-top: 16px;
  }

  .info_small {
    font: $text-body14-400;
    color: $gray-80
  }
}

.about_section {
  .info_para {
    margin-top: 24px;
  }

  .profile_img {
    border-radius: 50em;
    width: 250px;
    height: 250px;
    overflow: hidden;


    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

.project_section {
  .project_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .project_item {
    border: 1px solid $gray-30;
    border-radius: 16px;
    padding: 16px 16px 50px 16px;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      //transform: translateY(-5px);

      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
      transform: perspective(600px) rotateX(2deg) rotateY(2deg);
    }
  }
}


.read_more_btn {
  font: $text-body12-500;
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: $black-50;
}


@include tablet {

}

@include xs-tablet {

}