@use '../global' as *;

.info_para {


  .info_title {
    font: $text-h5-700;
  }

  .info_desc {
    font: $text-p16-500;
    padding-top: 16px;
  }
}

.about_section {
  .info_box {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .profile_img {
    border-radius: 50em;
    width: 250px;
    height: 250px;
    overflow: hidden;


    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}


@include tablet {

}

@include xs-tablet {

}