@use '../global' as *;

section {
  display: flex;

  .inner {

    padding-top: 90px;
    min-height: 100vh;
  }

  .info_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info_para {
  color: $gray-100;

  .info_title {
    font: $text-p18-700;
  }

  .info_sub_tit {
    font: $text-p18-500;
  }

  .info_desc {
    font: $text-p16-500;
    padding-top: 16px;

  }

  .info_small {
    font: $text-body14-400;
    color: $gray-80
  }
}


.about_section {
  .info_para {

    margin-top: 24px;

    .info_title {
      font: $text-h5-700;
    }
  }

  .profile_img {
    border-radius: 50em;
    width: 250px;
    height: 250px;
    overflow: hidden;


    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

.career_section {
  .info_box {
    margin: 0 auto;
    max-width: 600px;
  }

  .career_list {


    li {
      display: flex;
      align-items: flex-start;
      gap: 4px;

      &::before {
        content: "\1F31F";
        display: block;
        font-size: 12px;

      }
    }
  }
}

.project_section {
  .project_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .project_item {
    border: 1px solid $gray-30;
    border-radius: 16px;
    padding: 16px 16px 50px 16px;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      //transform: translateY(-5px);

      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
      transform: perspective(600px) rotateX(2deg) rotateY(2deg);
    }
  }
}


.read_more_btn {
  font: $text-body12-500;
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: $black-50;
}


@include xs-tablet {
  section {
    .content_wrap {
      width: 100%;
    }

    .inner {
      padding-block: 70px 40px;
      min-height: auto;
    }
  }
  .about_section {
    .inner {
      padding-block: 130px 40px;
    }

    .info_para {
      letter-spacing: -0.06em;

      .info_title {
        font-size: 18px;
      }
    }
  }
  .info_para {
    .info_title {
      font-size: 18px;
    }

    .info_sub_tit {
      font-size: 16px;
    }

    .info_desc {
      font-size: 14px;
    }
  }
  .project_section {
    .project_list {
      grid-template-columns: repeat(2, 1fr);

    }
  }

}

@include mobile {
  .project_section {
    .project_list {
      grid-template-columns: repeat(1, 1fr);

    }
  }
}
