@use '../global' as *;

.option_select_box {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font: $text-body14-400;
    margin-bottom: 8px;
  }

  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: $gray-10;
    top: -16px;
  }
}

.thumbs_prod {
  width: calc(50% - 40px);

  &:deep {
    .banner {
      border: 1px solid $gray-20;
    }

    img {
      width: 100%;
      aspect-ratio: 1/1;
    }

    .swiper-thumbs {
      margin-top: 8px;

      .swiper-wrapper {
        justify-content: center;
      }

      .swiper-slide {
        border: 1px solid $gray-20;
        max-width: 87px;
      }
    }
  }
}

.prod_detail_info {
  width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
  gap: 32px;

  .prod_title {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .title_box {
    color: $black;
    font: $text-h4-400;
    text-align: left;

    .sub_tit {
      color: $gray-70;
      font: $text-body14-400;
    }
  }

  .prod_price {
    display: flex;
    gap: 32px;

    .day {
      max-width: 212px;
      width: 100%;
      font: $text-p16-400;
      color: $gray-80;

      .hour,
      .price {
        color: $black;

        .won {
          font-size: 12px;
        }
      }

      .price {
        font: $text-h3-400;
      }

      .consumer_price {
        text-decoration: line-through;
      }
    }

    .badge {
      margin-bottom: 12px;
    }
  }
}

.basic_prod {
  width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
  gap: 16px;

  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;

    .basic_item {
      border: 1px solid $gray-20;

      img {
        width: 100%;
        aspect-ratio: 1/1;
      }
    }
  }
}

.prod_option {
  .prod_option_swiper {
    margin-top: 16px;
  }

  .option_img {
    border: 1px solid $gray-20;
    position: relative;
    overflow: hidden;

    img {
      &:not(.brand_img img) {
        transition: all 0.5s;
        width: 100%;
        aspect-ratio: 1/1;

        &:hover {
          scale: 1.1;
        }
      }
    }

    .default_chk_box {
      position: absolute;
      top: 2px;
      right: 2px;

      label:before {
        margin: 0;
      }
    }
  }

  .option_info {
    padding: 10px 4px;
    text-align: center;

    .count {
      color: $gray-70;
      font: $text-caption-400;
    }

    .prod_price {
      display: flex;
      gap: 4px;
      margin-top: 8px;
      flex-direction: column;
      padding: 0 2px;

      .day {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
      }

      p {
        color: $gray-70;
      }

      .hour,
      .won {
        font: $text-tiny2-400;
      }

      .consumer_price {
        font: $text-caption-400;
        text-decoration: line-through;
      }

      .price {
        font: $text-body14-400;

        .won {
          font: $text-tiny1-400;
        }
      }
    }
  }
}

.bundle_add {
  .prod_title {
    min-height: 40px;
  }
}

.bundle_acc {
  .prod_title {
    min-height: initial;
  }
}

.prod_con {
  .btn_group {
    .default_btn {
      flex: 0 0 auto;
    }
  }
}

/*----------------------------- 반응형 ----------------------------*/

@include tablet {
  .option_select_box {
    margin-top: 8px;
  }
  .basic_prod {
    ul {
      grid-template-columns: repeat(auto-fill, minmax(76px, auto));
    }
  }
  .thumbs_prod,
  .prod_detail_info,
  .basic_prod {
    width: 100%;
  }

  .prod_detail_info {
    .prod_title {
      gap: 12px;
    }

    .title_box {
      font: $text-p16-400;

      .sub_tit {
        font: $text-body14-400;
      }
    }

    .prod_price {
      .day {
        .hour {
          color: $gray-70;
          font: $text-caption-400;
        }

        .consumer_price {
          color: $gray-70;
          font: $text-body12-400;
        }

        .price {
          font: $text-p18-400;
        }
      }
    }
  }
  .prod_option {
    .prod_option_swiper {
      margin-top: 12px;
    }

    .option_info {
      .prod_price {
        .day {
          flex-direction: column;
          gap: 0;
        }
      }
    }
  }
  .bundle_add .prod_title {
    min-height: 30px;
  }

  .prod_con {
    .btn_group {
      .default_btn {
        font: $text-caption-400;
        line-height: 32px;
        flex: 0 0 auto;
      }
    }
  }
}
