@use '../global' as *;

.setting_title {
  color: $mainBlue;
  font: $heading-3;
  padding: 15px 0;
  border-bottom: 1px solid $neutral-30;
  margin-bottom: 12.5px;

}

.setting_box {
  li{
    cursor: pointer;
  }
  .default_list {
    padding: 12.5px 0;

    &:last-of-type {
      padding-bottom: 20px;
    }
    &+p{
      margin-top: 3px;
      margin-bottom: 20px;
    }
  }
}

.Linkage_section,.Password_section,.Change_section,.BUDDY_section,.policy_section{
  .inner{
    margin-top:10px;
  }
}

.BUDDY_section{
  .label{
    font:$paragraph-1;
    margin-right: 37px;
  }
}