@use '../global' as *;


.layout_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $black;
  z-index: 100;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

  .header_inner {


    .header_navi {
      padding: 16px 0;
      display: flex;
      align-items: flex-end;
      justify-content: end;
      gap: 32px;

    }

    .navi_item {
      color: $gray-40;
      font: 800 24px/150% 'Noto Sans KR';
      transition: color 0.3s ease-in-out;
      position: relative;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $base;
        z-index: 10;
        transition: all 0.3s;
      }

      &:hover, &.active {
        color: $base;

        &:before {
          width: 100%;
        }
      }
    }
  }


  .logo_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 44px;

    .logo {

      display: block;
      width: 219px;
      height: 59px;
    }
  }


}


.not_found {
  .header_inner {
    justify-content: center;
    padding: 32px 0 0 0;
  }
}


@include pc {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
}

@include tablet {
  .layout_header {
    .header_inner {


    }


    .logo_box {
      gap: 8px;
      //max-width: 360px;
      width: 100%;

      .logo {
        width: 109px;
        height: 30px;
      }

      .main_header {
        width: 100%;
        max-width: 360px;
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }


      .office_list {
        padding: 16px 0;
        gap: 8px;

        li {
          font: $text-body12-400;

          &:before {
            margin-bottom: 0;

          }
        }
      }
    }
  }


  .not_found {
    .header_inner {

      padding: 15px 0;
    }
  }
}
